#pagePhoto {
    width: 100%;
}

#pageText {
    margin-top: 30px;
    width: 750px;
    text-align: justify;
}

/*********RESPONSIVE MODE**************************************************/

@media only screen and (max-width: 800px) {

    #pageText {
        width: 100%;
    }
}
